body {
  background-color: lavender;
}

h1 {
  font-size: 3em;
  text-align: center;
}

h3 {
  font-size: 1.5em;
  text-align: center;
}

section {
  background-color: bisque;
  width: max-content;
  margin: auto;
}

section img {
  width: 300px;
  margin: 50px;

}

main div {
  background-color: gold;
  width: max-content;
  padding: 10px;
  margin: auto;
  margin-top: 25px;
  border-radius: 10px;
}

main div:hover, section img:hover {
  cursor: pointer;
}

#demo-chart {
  display: none;
  background-color: white;
}
